.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap: 2.5rem;
    column-gap: 1.5rem;
    > div.imageWrapper  {
        width: 100%;
        height: auto;
        > div {
            border-radius: 0.5rem;
            position: relative;
            width: 100%;
            height: calc(100% - 30px);
        }
        > span {
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    
}